APP_PORT=8001
CORS_ORIGIN=test

MONGO_URI=mongodb://localhost:27017/trip-planner

ACCESS_TOKEN_SECRET=access_token
ACCESS_TOKEN_SECRET_EXPIRY=1d
REFRESH_TOKEN_SECRET=refresh_token
REFRESH_TOKEN_SECRET_EXPIRY=7d
